head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  title Cards Against Something
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="shortcut icon" href="../images/favicon.ico")
  link(rel="stylesheet" href="/styles/main.css")
  script(src="/socket.io/socket.io.js")
  script(src="/timesync/timesync.js")
  script(src="/scripts/vendor.js")
  script(src="/scripts/app.js")
  <iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSfeOV2S1xhejj3o5gUW1-cRFN8m4feuYjta2g-dqHkx8AubkA/viewform?embedded=true" width="300" height="200" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
  style.
 
    .responsive-iframe {
       position: absolute;
       right: 0;
       top: 0;
       overflow: hidden;
    }
